 /*
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 */
 
 body {
    background-color: rgb(219, 250, 221);
    font-family: "Outfit", sans-serif;
    font-size: 16px;  
    color: rgb(48, 45, 44);
    padding: 50px;
}
p, li{
    line-height: 25px;
}
h2 {
    font-family: "Young Serif", serif;
    font-weight: 200;
}
h3 {
    font-family: "Young Serif", serif;
    font-weight: 200;
    color: rgb(133, 70, 50);
}
h4 {
    font-weight: 600;
    color: rgb(123, 40, 79);
    padding: 0 0 0 20px;
}
.card-container {
    margin: auto;
    width: 50%;
    padding: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}
img {
    border-radius: 15px;
    width: -webkit-fill-available;
}
.bold-text {
    font-weight: 600;
}
.preparation {
    background-color: rgb(237, 246, 247);
    border-radius: 10px;
    padding: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
tr {
    border-bottom: 1px solid rgb(228, 222, 216);
  }
tr:nth-child(8) {
    border-bottom: 0;
}
.ingredients > p {
    text-decoration: underline;
  }

.instructions, .ingredients {
    border-bottom: 1px solid rgb(228, 222, 216);
}
.preparation ::marker, .ingredients ::marker {
    color: rgb(133, 70, 50);
    font-size: 10px;
}
.instructions ::marker {
    color: rgb(133, 70, 50);
    font-weight: bold;
}
li {
    padding: 0 15px;
}
@media (max-width: 376px) {
    .card-container {
        width: auto;
    }
}
@media (max-width: 415px) {
    .card-container {
        width: auto;
    }
}
@media (max-width: 431px) {
    .card-container {
        width: auto;
    }
}